<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Market Place</title>
    <link rel="stylesheet" th:href="@{/styles.css}"> <!-- Link to the external CSS file -->
    
</head>
<body>
    <div class="header">
        <h1 th:text="${title}" style="margin-bottom: 10px;">Market Place</h1> <!-- Use Thymeleaf to render the title -->
        <div class="header-right">
            <a th:href="@{/home}" class="home-icon">
                <img th:src="@{/house-door-fill.svg}" alt="Home" class="home-image">
            </a>
            
            <input type="text" class="search-bar" placeholder="Search for courses" th:value="${searchQuery}"> <!-- Use Thymeleaf to bind the search query -->
            <!-- Navigation Links -->
            <nav>
                <ul class="nav-links">
                    <li><a th:href="@{/TeachonLearnZenith}">Teach on Learn Zenith</a></li>
                    <li><a th:href="@{/mylearning}">My learning</a></li>
                </ul>
            </nav>
            <!-- End of Navigation Links -->
            <a th:href="@{/cart}" class="cart-icon"> <!-- Add a class to the shopping cart icon -->
                <img th:src="@{/cart.svg}" alt="Shopping Cart" class="cart-image"> <!-- Add the shopping cart icon -->
            </a>
        </div>
    </div>
    <div class="main">
        <!-- Dropdown menu for Business -->
        <div class="dropdown"> 
            <button class="dropbtn">Finance & Accounting</button>
            <div class="dropdown-content">
                <a th:href="@{/categories/Finance&Accounting-investing&trading}">Investing&Trading</a>
                <a th:href="@{/categories/Finance&Accounting-marketing}">Banking</a>
            </div>
        </div>
        <!-- Dropdown menu for Technology -->
        <div class="dropdown">
            <button class="dropbtn">IT & Software</button>
            <div class="dropdown-content">
                <a th:href="@{/categories/IT&Software-programming}">Programming</a>
                <a th:href="@{/categories/IT&Software-networking}">Networking</a>
            </div>
        </div>
        <!-- Dropdown menu for Arts -->
        <div class="dropdown">
            <button class="dropbtn">Business</button>
            <div class="dropdown-content">
                <a th:href="@{/categories/Business-marketing}">Marketing</a>
                <a th:href="@{/categories/Business-Entrepreneurship}">Entrepreneurship</a>
            </div>
        </div>
    </div>
    <div class="footer">
        <p style="text-align: center;">Copyright &copy; 2024 CSC1106</p>
    </div>
</body>
</html>
